body {
  background-color: #000;
  color: #fff;
}
a, p {
  font-family: "Gotham-Thin", sans-serif;
  line-height: 1.5em;
  letter-spacing: 1px;
}
a {
  &.active,
  &:hover {
    color: #59d256;
  }
}
video {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: 0;
}