$light-bg: rgba(119, 116, 116, 0.29);
$global-margin-x: 0.8em;

body {
  background-color: #000;
  color: #fff;
}
h1 {
  font-family: "Gotham-Thin", sans-serif;
  line-height: 1.5em;
  letter-spacing: 1px;
}
a, p {
  font-family: "Gotham-Light", sans-serif;
  line-height: 1.5em;
  letter-spacing: 1px;
}
a {
  &.active,
  &:hover {
    color: #41b33f;
  }
}
video {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: 0;
}
main {
  position: absolute;
  padding-top: 132px;
  width: 100%;
}

footer {
  a {
    &.active {
      padding: 0 0.3em;
    }
  }
}